body {
  background: #fff;
}

h1, h2 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px #afafaf;
}

.library {
  max-width: 800px;
  min-width: 300px;
  margin: 50px auto;
}

/* ----- add-form ----- */

.add-form {
  background: #cecece;
  padding: 15px;
  box-shadow: 0 3px 5px #8a8a8a;
  margin-bottom: 50px;
}

.label {
  display: block;
  border-bottom: 1px solid #999;
  padding: 10px 0;
}

.label__text {
  display: inline-block;
  min-width: 160px;
}

.textfield {
  width: calc(100% - 165px);
  border: none;
}

.button-block {
  text-align: center;
  padding: 10px 0 0;
}

.button {
  display: inline-block;
  background: #507299;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 3px 5px #888;
}

.button--red {
  background: red;
  position: absolute;
  right: 0;
  top: 10px;
}

.button:hover {
  box-shadow: 0 1px 1px #555;
}

/* -------- book-list -------- */

.book-list {
}

.book-list__table {
  background: #cecece;
  padding: 15px;
  box-shadow: 0 3px 5px #8a8a8a;

}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  padding-right: 100px;
  position: relative;
}

.list__item:last-child {
  border: none;
}